<label for="post-title">Title</label>
<input name="post-title" id="post-title" type="text" value = "My Title" required>
<label for="post-category">Category</label>
<select name ="post-category" id="post-category">
    <option *ngFor="let c of category" >{{c.name}}</option>
</select>
<label for="post-expiredate">Expire Date</label>
<input name="post-expiredate" id="post-expiredate" type="date"required>
<editor
  apiKey= xrzzz3pw8vlxxgwiupdjs8wwvshyln0vz0fbdgm8ndwuxr1j
  [init]="{ plugins: 'lists link image table code help wordcount' }"
></editor>