/* refer to https://www.w3schools.com/css/css_navbar_horizontal.asp */


.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: black;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  
  
}

.nav li:first-child {
 float: left;
}

.nav li:nth-child(2) {
 float: left;
}

.nav li {
  float: right;
  border:1px solid #bbb;
}



.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: grey;
}

.profile {
  float:right;
}

.active {
  background-color: green;
}